
h1 {
  line-height: 0.7;

  span {
    font-size: 0.5em;
  }
}

#navbar,
.uk-sticky-placeholder {
  position: relative;
  z-index: 999;
  width: 100%;
}

.uk-navbar-container {
  transition: box-shadow 0.25s, background-color 0.25s;
}

.page-content {
  position: relative;
  z-index: 998;
}

.header {
  margin-top: -$navbar-nav-item-height;
}

.rotate-clockwise {
  transform: rotateZ(90deg);
}

.cut-here-line {
  transform: rotateZ(45deg) translateX(20px) translateY(-15px);
  float: right;
  padding: 0 20px;

  &::after {
    content: '';
    border: dashed 1px white;
    height: 80px;
    padding-bottom: 15px;
    position: relative;
  }
}

.wine-type-colour {
  background-color: #d1b04f;
}
