html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body,
#__nuxt,
#__layout,
#page-main,
.page-content {
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.header {
  color: $white;
  height: 450px;
  margin-top: -$navbar-nav-item-height;
  border-bottom: darken($brand-purple-ii, 2%) 2px solid;
  background: linear-gradient(180deg, $brand-purple, $brand-purple-i);

  h1 {
    font-weight: bold;
  }

  > div {
    height: 100%;
    display: flex;
    place-content: center;
    place-items: center;
  }
}

.footer {
  font-size: 0.8rem;
  background: linear-gradient(180deg, $brand-purple, $brand-purple-i);
}

#navbar,
.uk-sticky-placeholder {
  position: relative;
  z-index: 999;
  width: 100%;
}

.uk-navbar-container {
  transition: box-shadow 0.25s, background-color 0.25s;
}

.uk-card-title {
  font-weight: bold;
}

.page-content {
  position: relative;
  z-index: 998;
}

.rotate-clockwise {
  transform: rotateZ(90deg);
}

.cut-here-line {
  transform: rotateZ(45deg) translateX(20px) translateY(-15px);
  float: right;
  padding: 0 20px;

  &::after {
    content: '';
    border: dashed 1px white;
    height: 80px;
    padding-bottom: 15px;
    position: relative;
  }
}

.wine-type-colour {
  background-color: #d1b04f;
}

.no-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
