// 1. Your custom variables and variable overwrites.
$brand-colour-i: #938770;
$brand-colour: lighten($brand-colour-i, 2%);
$brand-colour-ii: darken($brand-colour-i, 2%);
$brand-purple-i: #604f63;
$brand-purple: lighten($brand-purple-i, 2%);
$brand-purple-ii: darken($brand-purple-i, 1%);
$brand-teal: #4c8475;
$brand-teal-i: #82b0a0;

$global-primary-background: $brand-purple-i;
$global-default-background: $brand-colour-ii;
$section-default-background: $brand-colour-ii;
$global-secondary-background: $brand-colour;

$offcanvas-bar-background: $brand-purple-i;
$navbar-background: $brand-purple-i;
$navbar-nav-item-height: 80px;

$white: #fff;

$container-padding-horizontal: 0;

// 2. Import default variables and available mixins.
@import "@/node_modules/uikit/src/scss/variables-theme.scss";
@import "@/node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-offcanvas-bar() {
  @extend .uk-box-shadow-small;
}

@mixin hook-card-primary() {
  border-bottom: darken($brand-purple-ii, 2%) 2px solid;
  background: linear-gradient(180deg, $brand-purple, $brand-purple-i);
}

@mixin hook-card-secondary() {
  border-bottom: darken($brand-colour-ii, 2%) 2px solid;
  background: linear-gradient(180deg, $brand-colour, $brand-colour-i);
}

// 4. Import UIkit.
@import "@/node_modules/uikit/src/scss/uikit-theme.scss";

// Other SCSS
@import "@/assets/scss/imports/global";
@import "@/assets/scss/imports/page-transition";
