// 1. Your custom variables and variable overwrites.
$brand-colour: #a19988;
$brand-colour-i: #938770;
$brand-purple: #a782b0;
$brand-purple-i: #604f63;
$brand-teal: #82b0a0;

$global-primary-background: $brand-purple-i;
$global-default-background: $brand-colour-i;
$section-default-background: $brand-colour-i;
$global-secondary-background: $brand-colour;

$offcanvas-bar-background: $brand-purple-i;
$navbar-background: $brand-purple-i;
$navbar-nav-item-height: 80px;

$white: #fff;

// 2. Import default variables and available mixins.
@import "@/node_modules/uikit/src/scss/variables-theme.scss";
@import "@/node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-offcanvas-bar() {
  @extend .uk-box-shadow-small;
}

// 4. Import UIkit.
@import "@/node_modules/uikit/src/scss/uikit-theme.scss";

// Other SCSS
@import "@/assets/scss/imports/global";
@import "@/assets/scss/imports/page-transition";
